body{
  background-color: black;
  color: white;
}

.button-calculation{
  background-color: yellow;
  border: 2px solid white;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  cursor: pointer;

}

.number-button{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  cursor: pointer;
}

.clear-button{
  font-size: 10px;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
}