.notification {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.notification.success {
  color: green;
  background-color: #d4edda;
  border: 1px solid green;
}

.notification.error {
  color: red;
  background-color: #f8d7da;
  border: 1px solid red;
}
